{% load static %}
<header class="bg text-white py-3">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar">
            <a class="navbar-brand" href="{% url 'index' %}">Servicio Colectivo JC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger ms-3" target="_blank" rel="noopener"
                           href="https://cariai.com/cVhlaTdqekZaZkkyL1VVRDdNTjdZMFI0b2hkLzVVMXhmM0xsaDNxWmVScmxQdGNUVWlNcExPVnlsdDNDb2podzFyWEFyblpaWmJmeQ==">
                            Chatbot
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
